<div class="container mx-auto">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div class="mat-elevation-z8 rounded-md overflow-hidden mb-3">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="when">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> When </th>
                <td mat-cell *matCellDef="let element"> 
                    <span matTooltip="{{element.when | date: 'dd/MM/yyyy'}}">{{element.when | howLongAgoWasTheDate}} </span>
                </td>
            </ng-container>
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="priority.id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
              <td mat-cell *matCellDef="let element">
                <ng-container [ngSwitch]="element.priority?.id">
                    <mat-icon *ngSwitchCase="priorityTask.High" class="text-red-500" [matTooltip]="'Priority ' + element.priority?.value">keyboard_double_arrow_up</mat-icon>
                    <mat-icon *ngSwitchCase="priorityTask.Medium" class="material-symbols-outlined text-yellow-500" [matTooltip]="'Priority ' + element.priority?.value">equal</mat-icon>
                    <mat-icon *ngSwitchCase="priorityTask.Low" class="text-green-500" [matTooltip]="'Priority ' + element.priority?.value">keyboard_double_arrow_down</mat-icon>
                    <mat-icon *ngSwitchDefault class="material-symbols-outlined text-yellow-500">equal</mat-icon>
                </ng-container>
              </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button 
                    mat-icon-button 
                    class="example-icon" 
                    matTooltip="See detail of book"
                    aria-label="See detail of book"
                    (click)="openTaskDetail(element.idTask)">
                        <mat-icon class="material-symbols-outlined">info</mat-icon>
                    </button>
                    <button 
                    mat-icon-button 
                    class="example-icon" 
                    matTooltip="Edit book" 
                    matTooltipPosition="left" 
                    aria-label="Edit book">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of books"></mat-paginator>
    </div>
    
</div>