::ng-deep{
    .mat-column-priority-id .mat-sort-header-container,
    .mat-column-isDone .mat-sort-header-container{
       justify-content: center;
   }
   .mat-expansion-panel-body {
        padding: 1rem!important;
        padding-bottom: 0!important;
    }
    .mat-expansion-panel{
        margin-bottom: 1rem!important;
    }
} 
.mat-column-priority-id, .mat-column-isDone{
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .mat-column-when, .mat-column-priority-id, .mat-column-isDone {
        width: 8rem;
    }
    .mat-column-category{
        width: 9rem;
    }
    .mat-column-actions{
        width: 12rem;
    }
}
@media only screen and (min-width: 1440px) {
    .mat-column-when, .mat-column-priority-id, .mat-column-isDone {
        width: 10rem;
    }
    .mat-column-category{
        width: 12rem;
    }
    .mat-column-actions{
        width: 14rem;
    }
}