<div class="task-form">
    <form [formGroup]="form">
        <mat-form-field class="w-full">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Title of the task">
        </mat-form-field> 
        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="3" placeholder="What will you do?"></textarea>
        </mat-form-field>
        <div class="grid sm:grid-cols-2 gap-4">
            <mat-form-field class="w-full">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option [value]="category.value" *ngFor="let category of categories$ | async">{{category.value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                  <mat-option [value]="priority.value" *ngFor="let priority of priorities$ | async">{{priority.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field class="w-full">
            <mat-label>Where would you do this task?</mat-label>
            <input matInput formControlName="where" placeholder="Type your answer">
        </mat-form-field>
        <div class="grid sm:grid-cols-2 gap-4 mb-4">
            <mat-form-field>
                <mat-label>When will you do it?</mat-label>
                <input matInput formControlName="when" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="isEditing">
                <mat-label class="text-xs">State</mat-label>
                <div>
                    <mat-button-toggle-group appearance="legacy" formControlName="isDone" aria-label="Font Style">
                        <mat-button-toggle [value]="true">Done</mat-button-toggle>
                        <mat-button-toggle [value]="false">Pending</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
                
            </div>
        </div>
        <mat-form-field class="example-chip-list" appearance="fill">
            <mat-label>Who would you do this with? <small><em>(Optional)</em></small></mat-label>
            <mat-chip-grid #chipGrid aria-label="Enter persons">
              <mat-chip-row *ngFor="let person of persons"
                            (removed)="remove(person)"
                            [editable]="true"
                            (edited)="edit(person, $event)"
                            [aria-description]="'press enter to edit ' + person">
                {{person}}
                <button matChipRemove [attr.aria-label]="'remove ' + person">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="Type a name..."
                     [matChipInputFor]="chipGrid"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"/>
            </mat-chip-grid>
            <mat-hint>Enter a name and press the enter or comma key to add it. To modify a name, click on it and press the enter key.</mat-hint>
        </mat-form-field>
    </form>
</div>