.mat-button-toggle-group{
    width: 100%;
    .mat-button-toggle{
        flex-grow: 1;
        &.mat-button-toggle-checked{
            font-weight: bold;
            &:first-child{
                background-color: green;
                color: white;
            }
        }
    }
}
.example-chip-list {
    width: 100%;
}
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background: white;
    box-shadow: 0px 3px 6px -5px rgba(0,0,0,.65);
}